<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-success"><i class="glyphicon glyphicon-print"></i></button>
		<button type="submit" id="back" title="<%%TRANSLATION(Back)%%>" class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i></button>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Category ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(CategoryID)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Picture</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var PictureSrc1<%%RND1%%>='<%%TRANSLATION(ImageFolder)%%><%%VALUE(Picture)%%>';
				var PictureSrc2<%%RND1%%>='thumbnail.php?t=categories&f=Picture&i=<%%VALUE(Picture)%%>&v=dv'
			</script>
			<a href="#" onclick="$('PictureImg<%%RND1%%>').src=($('PictureImg<%%RND1%%>').src.search(/thumbnail\.php/) != -1 && PictureSrc1<%%RND1%%> != '<%%TRANSLATION(ImageFolder)%%>' ? PictureSrc1<%%RND1%%> : PictureSrc2<%%RND1%%>); return false;"><img id="PictureImg<%%RND1%%>" src="thumbnail.php?t=categories&f=Picture&i=<%%VALUE(Picture)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Category Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(CategoryName)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Description</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Description)%%></div>
			</div>
		</div>
	</fieldset>
</div>
