<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="categories-Picture-<%%VALUE(CategoryID)%%>" class=""><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(Picture)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(Picture)%%>&t=categories&f=Picture&v=tv" class="img-thumbnail"></a></td>
		<td id="categories-CategoryName-<%%VALUE(CategoryID)%%>" class=""><%%VALUE(CategoryName)%%></td>
		<td id="categories-Description-<%%VALUE(CategoryID)%%>" class=""><%%VALUE(Description)%%></td>
