<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="customers-CustomerID-<%%VALUE(CustomerID)%%>" class=""><%%VALUE(CustomerID)%%></td>
		<td id="customers-CompanyName-<%%VALUE(CustomerID)%%>" class=""><%%VALUE(CompanyName)%%></td>
		<td id="customers-ContactName-<%%VALUE(CustomerID)%%>" class=""><%%VALUE(ContactName)%%></td>
		<td id="customers-Address-<%%VALUE(CustomerID)%%>" class=""><%%VALUE(Address)%%></td>
		<td id="customers-City-<%%VALUE(CustomerID)%%>" class=""><%%VALUE(City)%%></td>
		<td id="customers-Region-<%%VALUE(CustomerID)%%>" class=""><%%VALUE(Region)%%></td>
		<td id="customers-Country-<%%VALUE(CustomerID)%%>" class=""><%%VALUE(Country)%%></td>
