<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-success"><i class="glyphicon glyphicon-print"></i></button>
		<button type="submit" id="back" title="<%%TRANSLATION(Back)%%>" class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i></button>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Employee ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(EmployeeID)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Title Of Courtesy</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(TitleOfCourtesy)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Photo</label>
			<div class="col-xs-9">
				<div class="form-control-static">
<img src="<%%TRANSLATION(ImageFolder)%%><%%VALUE(Photo)%%>" class="img-responsive img-thumbnail">
</div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(LastName)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">First Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(FirstName)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Title</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Title)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Birth Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(BirthDate)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Hire Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(HireDate)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Address</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Address)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">City</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(City)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Region</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Region)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Postal Code</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(PostalCode)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Country</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(Country)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Home Phone</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(HomePhone)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Extension</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Extension)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Notes</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Notes)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ReportsTo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ReportsTo<%%RND1%%>"><%%COMBOTEXT(ReportsTo)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
