<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="employees-Photo-<%%VALUE(EmployeeID)%%>" class=""><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(Photo)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(Photo)%%>&t=employees&f=Photo&v=tv" class="img-thumbnail"></a></td>
		<td id="employees-LastName-<%%VALUE(EmployeeID)%%>" class=""><%%VALUE(LastName)%%></td>
		<td id="employees-FirstName-<%%VALUE(EmployeeID)%%>" class=""><%%VALUE(FirstName)%%></td>
		<td id="employees-Title-<%%VALUE(EmployeeID)%%>" class=""><%%VALUE(Title)%%></td>
		<td id="employees-HireDate-<%%VALUE(EmployeeID)%%>" class=""><%%VALUE(HireDate)%%></td>
		<td id="employees-Country-<%%VALUE(EmployeeID)%%>" class=""><%%VALUE(Country)%%></td>
		<td id="employees-ReportsTo-<%%VALUE(EmployeeID)%%>" class=""><%%VALUE(ReportsTo)%%></td>
