<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="orders-OrderID-<%%VALUE(OrderID)%%>" class="text-right"><%%VALUE(OrderID)%%></td>
		<td id="orders-CustomerID-<%%VALUE(OrderID)%%>" class=""><%%VALUE(CustomerID)%%></td>
		<td id="orders-EmployeeID-<%%VALUE(OrderID)%%>" class=""><%%VALUE(EmployeeID)%%></td>
		<td id="orders-OrderDate-<%%VALUE(OrderID)%%>" class=""><%%VALUE(OrderDate)%%></td>
		<td id="orders-ShipVia-<%%VALUE(OrderID)%%>" class=""><%%VALUE(ShipVia)%%></td>
		<td id="orders-ShipCountry-<%%VALUE(OrderID)%%>" class=""><%%VALUE(ShipCountry)%%></td>
