<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="order_details-OrderID-<%%VALUE(odID)%%>" class="text-right"><%%VALUE(OrderID)%%></td>
		<td id="order_details-ProductID-<%%VALUE(odID)%%>" class=""><%%VALUE(ProductID)%%></td>
		<td id="order_details-Category-<%%VALUE(odID)%%>" class=""><%%VALUE(Category)%%></td>
		<td id="order_details-UnitPrice-<%%VALUE(odID)%%>" class="text-right"><%%VALUE(UnitPrice)%%></td>
		<td id="order_details-Quantity-<%%VALUE(odID)%%>" class="text-right"><%%VALUE(Quantity)%%></td>
		<td id="order_details-Discount-<%%VALUE(odID)%%>" class="text-right"><%%VALUE(Discount)%%></td>
