<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="products-ProductName-<%%VALUE(ProductID)%%>" class=""><%%VALUE(ProductName)%%></td>
		<td id="products-SupplierID-<%%VALUE(ProductID)%%>" class=""><%%VALUE(SupplierID)%%></td>
		<td id="products-CategoryID-<%%VALUE(ProductID)%%>" class=""><%%VALUE(CategoryID)%%></td>
		<td id="products-QuantityPerUnit-<%%VALUE(ProductID)%%>" class=""><%%VALUE(QuantityPerUnit)%%></td>
		<td id="products-UnitPrice-<%%VALUE(ProductID)%%>" class="text-right"><%%VALUE(UnitPrice)%%></td>
		<td id="products-Discontinued-<%%VALUE(ProductID)%%>" class="text-right"><%%VALUE(Discontinued)%%></td>
