<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'suppliers_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="suppliers-CompanyName-<%%VALUE(SupplierID)%%>" class="suppliers-CompanyName "><%%SELECT%%><%%VALUE(CompanyName)%%><%%ENDSELECT%%></td>
		<td id="suppliers-ContactName-<%%VALUE(SupplierID)%%>" class="suppliers-ContactName "><%%SELECT%%><%%VALUE(ContactName)%%><%%ENDSELECT%%></td>
		<td id="suppliers-ContactTitle-<%%VALUE(SupplierID)%%>" class="suppliers-ContactTitle "><%%SELECT%%><%%VALUE(ContactTitle)%%><%%ENDSELECT%%></td>
		<td id="suppliers-Country-<%%VALUE(SupplierID)%%>" class="suppliers-Country "><%%SELECT%%><%%VALUE(Country)%%><%%ENDSELECT%%></td>
		<td id="suppliers-Phone-<%%VALUE(SupplierID)%%>" class="suppliers-Phone "><%%SELECT%%><%%VALUE(Phone)%%><%%ENDSELECT%%></td>
		<td id="suppliers-Fax-<%%VALUE(SupplierID)%%>" class="suppliers-Fax "><%%SELECT%%><%%VALUE(Fax)%%><%%ENDSELECT%%></td>
		<td id="suppliers-HomePage-<%%VALUE(SupplierID)%%>" class="suppliers-HomePage "><a href="link.php?t=suppliers&f=HomePage&i=<%%VALUE(SupplierID)%%>" target="_blank" title="<%%VALUE(HomePage)%%>" class="btn btn-default"><i class="glyphicon glyphicon-globe text-info"></i></a></td>
		<script>jQuery(function(){ var e_HomePage='<%%VALUE(HomePage)%%>'; if(e_HomePage=='' || e_HomePage=='&nbsp;') jQuery('#suppliers-HomePage-<%%VALUE(SupplierID)%%>').html(''); });</script>
